# 專案根目錄名稱 (用於識別容器)
COMPOSE_PROJECT_NAME=module

# Database Configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
POSTGRES_PORT=

# Redis Configuration
REDIS_PORT=
REDIS_PASSWORD=

# Backend Configuration
JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# Frontend Configuration
VITE_API_BASE_URL=
